{{template "base" .}}

{{define "content"}}
<div>
    <h1>this is the HOME page DUUUUDE </h1>
    <p>heres some p efhehe4hjjjew   tag html</p>
    <img src="/static/images/StarmanCenterPage.jpg" height="1330" width="2000">
</div>
{{end}}